* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Roboto';
  color: #fff;
  font-size: 16px;
}
section.wrapp {
  width: 100%;
  min-height: 100%;
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-color: #0F1E27;
  background-position: top center;
  background-size: contain;
  padding: 70px 6px 70px;
  box-sizing: border-box;
}
section.wrapp .exchanger {
  max-width: 985px;
  width: 100%;
  margin: 0 auto;
}
section.wrapp .exchanger .select-curr {
  border: 1px solid #1D3844;
  border-radius: 10px;
  width: 100%;
  position: relative;
  padding: 29px 0 29px 133px;
  box-sizing: border-box;
}
section.wrapp .exchanger .select-curr h2 {
  font-size: 32px;
  font-weight: 500;
}
section.wrapp .exchanger .select-curr .select {
  width: 297px;
  position: absolute;
  right: 24px;
  top: 21px;
  border-radius: 5px;
  outline: none;
  height: 55px;
  border: 1px solid #53E8FF;
  appearance: none;
  font-size: 15.5px;
  color: #fff;
  background-color: #0F1E27;
  -webkit-appearance: none;
  background-image: url('../img/arrow-select.png');
  background-position: 95% center;
  background-repeat: no-repeat;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none!important;
  box-sizing: border-box;
}
section.wrapp .exchanger .select-curr .select .select__gap {
  width: 100%;
  height: 100%;
  padding-top: 17px;
  padding-left: 15px;
  box-sizing: border-box;
  font-weight: 300;
}
section.wrapp .exchanger .select-curr .select .select__list {
  padding: 12px 0 12px 15px;
  border: 1px solid #53E8FF;
  border-radius: 5px;
  background-color: #0F1E27;
  margin-top: 9px;
}
section.wrapp .exchanger .select-curr .select .select__list li {
  list-style: none;
  padding: 2.4px 0;
  font-weight: 300;
}
section.wrapp .exchanger .blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.wrapp .exchanger .blocks > div {
  width: 308px;
  height: 354px;
  margin-top: 53px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
section.wrapp .exchanger .blocks > div h3 {
  font-size: 22px;
  margin-top: 18px;
}
section.wrapp .exchanger .blocks > div div.price {
  font-size: 20px;
  font-weight: 600;
  margin-top: -25px;
}
section.wrapp .exchanger .blocks > div div.price p:last-child {
  font-size: 21px;
  color: #fff;
}
section.wrapp .exchanger .blocks > div div.price p:first-child {
  color: #fff;
}
section.wrapp .exchanger .blocks > div div.change {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
section.wrapp .exchanger .blocks > div div.change p:first-child {
  color: #fff;
  font-weight: 500;
}
section.wrapp .exchanger .blocks > div div {
  font-size: 13.5px;
  font-weight: 500;
  margin-top: 4px;
}
section.wrapp .exchanger .blocks > div div p:first-child {
  color: #4B6D5C;
  font-weight: 600;
}
section.wrapp .exchanger .blocks > div div p:last-child {
  font-size: 14.5px;
  color: #70c446;
}
section.wrapp .exchanger .blocks > div div p.red {
  color: #c80e24;
}
section.wrapp .exchanger .blocks > div.ethereum {
  background-image: url('../img/e-bg.png');
  position: relative;
}
section.wrapp .exchanger .blocks > div.ethereum h3 {
  position: absolute;
  width: 100%;
}
section.wrapp .exchanger .blocks > div.litecoin {
  background-image: url('../img/l-bg.png');
}
section.wrapp .exchanger .blocks > div.litecoin h3 {
  margin-bottom: 8px;
}
section.wrapp .exchanger .blocks > div.litecoin .price {
  margin-top: 10px;
}
section.wrapp .exchanger .blocks > div.bitcoin {
  background-image: url('../img/b-bg.png');
}
section.wrapp .exchanger .blocks > div.bitcoin h3 {
  margin-bottom: 11px;
}
section.wrapp .exchanger .blocks > div.bitcoin .price {
  margin-top: 10px;
}
section.wrapp .exchanger .blocks > div > div {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
  outline: none;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}
.checkbox + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 21px;
  width: 38.07px;
  height: 15.05px;
  border-radius: 7.58px;
  background: #00B6F3;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.checkbox + label:after {
  content: '';
  position: absolute;
  background-image: url('../img/checkbox-button.png');
  top: -4.5px;
  left: 17px;
  width: 24px;
  height: 24px;
  transition: 0.2s;
}
.checkbox:checked + label:before {
  background: #C5C5C5;
}
.checkbox:checked + label:after {
  left: 38px;
}
.checkbox:focus + label:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 0, 0.7);
}
@media screen and (max-width: 960px) {
  section.wrapp .exchanger .select-curr {
    padding-left: 24px;
  }
  section.wrapp .exchanger .blocks {
    justify-content: center;
  }
  section.wrapp .exchanger .blocks > div {
    margin-left: 26px;
    margin-right: 26px;
  }
}
@media screen and (max-width: 800px) {
  section.wrapp .exchanger .select-curr {
    padding-left: 0;
  }
  section.wrapp .exchanger .select-curr .select {
    position: static;
    margin: 24px auto 0;
  }
  section.wrapp .exchanger .select-curr h2 {
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  section.wrapp .exchanger .blocks {
    display: block;
  }
  section.wrapp .exchanger .blocks > div {
    margin: 53px auto 0;
  }
}
@media screen and (max-width: 450px) {
  section.wrapp .exchanger .select-curr .select {
    width: 100%;
  }
  section.wrapp .exchanger .select-curr {
    padding-left: 15px;
    padding-right: 15px;
  }
}
